<!DOCTYPE html>
<html>
<head>
    <title>User List</title>

</head>
<body>

    <!--API versioning handler-->
    <% if (version === "v1") { %>
        <h1>User List V1</h1>
        <h3>ID - Name</h3>

        <!-- Filter form -->
        <form method="GET" action="/api/v1/users">
            <label for="name">Filter by Name:</label>
            <input type="text" id="name" name="name" value="<%= typeof query !== 'undefined' ? query.name : '' %>">
            <button type="submit">Filter</button>
        </form>
        <!-- Sort buttons -->
        <div>
            <span>Sort by:</span>
            <a href="/api/v1/users?sort=id&order=<%= (typeof query !== 'undefined' && query.sort === 'id' && query.order === 'asc') ? 'desc' : 'asc' %>">ID (1-100)</a>
            <a href="/api/v1/users?sort=name&order=<%= (typeof query !== 'undefined' && query.sort === 'name' && query.order === 'asc') ? 'desc' : 'asc' %>">Name (A-Z)</a>
        </div>
    <% } else { %>
        <h1>User List V2</h1>
        <h3>Name - ID</h3>

        
        <!-- Filter form -->
        <form method="GET" action="/api/v2/users">
            <label for="name">Filter by Name:</label>
            <input type="text" id="name" name="name" value="<%= typeof query !== 'undefined' ? query.name : '' %>">
            <button type="submit">Filter</button>
        </form>

        <!-- Sort buttons -->
        <div>
            <span>Sort by:</span>
            <a href="/api/v2/users?sort=id&order=<%= (typeof query !== 'undefined' && query.sort === 'id' && query.order === 'asc') ? 'desc' : 'asc' %>">ID (1-100)</a>
            <a href="/api/v2/users?sort=name&order=<%= (typeof query !== 'undefined' && query.sort === 'name' && query.order === 'asc') ? 'desc' : 'asc' %>">Name (A-Z)</a>
        </div>
    <% } %>
    
    <!--Displays the users-->
    <ul>
        <% users.forEach(function(user) { %>
        <li>
            <% if (version === "v1") { %>
                ID: <%= user.id %>, 
                Name: <%= user.name %>
            <% } else { %>
                Name: <%= user.name %>,
                ID: <%= user.id %>
            <% } %>
            <form method="POST" action="/api/v1/users/delete/<%= user.id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </li>
        <% }); %>
    </ul>

</body>


</html>
